.container {
  width: 80%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

header {
  background-color: #FFBDE1;
  padding: 20px 0;
  font-family: 'KG Sweet N Sassy Regular', cursive; /* Set font */
  

}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: black; /* Updated text color */
  text-decoration: none;
}

nav ul li a:hover {
  color: #f39c12;
}
footer {
  background-color: #FFBDE1;
  color: black;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-left p {
  margin-right: 10px;
}

.footer-right {
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
}

.footer-right a {
  margin-left: 10px;
  color: black;
}


.footer-right a:hover {
  color: #f39c12;
}
body {
  background-image: url('../images/bgpattern.png');
  background-repeat: repeat; /* Ensure the background image repeats */
  background-size: 150px; /* Set the background size */
  font-family: 'KGSweetNSassy', sans-serif; /* Apply the custom font to the body */
  }
}

font-face {
  font-family: 'KGSweetNSassy'; /* Name of the font */
  src: url('fonts/KGSweetNSassy.ttf') format('truetype'); /* Path to the font file */
}
/* Apply the custom font to headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'KGSweetNSassy', sans-serif; /* Apply the custom font to headings */
}
.character {
  text-align: center; /* Center the content horizontally */
  margin: 10px auto; /* Center the container horizontally and add spacing */
}

.character img {
  width: 200px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.character img:hover {
  transform: scale(1.1);
}

.caption {
  text-align: center; /* Center the caption text */
  margin-top: 5px; /* Add some space between the image and the caption */
}
/* Apply styles only to elements on the characters webpage */
.characters-page .container {
  text-align: center;
}

.characters-page .character {
  display: inline-block;
  text-align: center;
  margin: 10px; /* Adjust margin as needed */
}

.characters-page .caption {
  text-align: center;
  margin-top: 5px; /* Add some space between the image and the caption */
}
